body {
            background-image: url("historyVR.jpg");
        }
        .container{
            text-align: center;
            margin: 0 auto;
            width: 80%;
        }
        img {
            width: 50%;
            height:50%;
        }
        li {
            list-style-type: none;
            background-color:rgba(110, 72, 247, 0.5)
            
        }
        h4 {
            background-color:rgba(65, 106, 153, 0.75);
             color: rgb(255, 255, 255);
        }
